<div product-selector="{{ product.id }}" class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless product.featured_image == blank %}
    {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
     <a href=""> <img id="{{ img_id }}"
            class="grid-view-item__image lazyload"
            src="{{ product.featured_image | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
            data-sizes="auto"
                      alt="{{ product.featured_image.alt }}"></a>
    </div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {% include 'product-price', variant: product %}
  
  <span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" style="display:block;">{{ product.metafields.stamped.badge }}</span>
  <div class="col-colors">
  {% for optionn in product.options %}{% if optionn == 'Color' %}{% assign index = forloop.index0 %}{% assign colorlistt = '' %}{% assign colorr = '' %}{% for variantt in product.variants %}{% capture colorr %}{{ variantt.options[index] }}{% endcapture %}
      {% unless colorlistt contains colorr %}<img src="{% if variantt.image %}{{ variantt.image | img_url:'small' }}{% else %}{{ 'placeholder.png' | asset_url }}{% endif %}" alt="{{ colorr }}" width="16" height="16" />{% capture tempListt %}{{colorlistt | append: colorr | append: ' '}}{% endcapture %}{% assign colorlistt = tempListt %}{% endunless %}
  {% endfor %}{% endif %}{% endfor %}
  </div>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate' %}
  <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ product.id }}" class="product-form__variants no-js">
    {% for variant in product.variants %}{% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>{% else %}
      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>{% endif %}
    {% endfor %}
  </select>
  <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
    <button type="submit" name="add" id="AddToCart-{{ product.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
      <span id="AddToCartText-{{ section.id }}">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}</span>
    </button>
  </div>
  {% endform %}
</div>
<style>
  .full-width-link {
    bottom: 90px !important;
  }
  .product-form__variants {
    display: block !important;
    margin: 6px 0;
  }
  .grid-view-item.product-card form {
    padding: 0;
  }
  .product-form__item {
    padding: 0;
  }
</style>
